

<carousel>
  
  <slide>
    <img src="assets/Images/dev6.png" alt="first slide" style="display: block; width: 100%;">
    <div class="text-center py-5 bg-dark text-white">
      <h2></h2>
      <div class="lead">
       
        <h3>Hi ! I am Pooja </h3>
        <p>An undergraduate at The National Institute Of Engineering</p>
      </div>
    </div>
  </slide>
  <slide>
    <img src="assets/Images/dev2.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="text-center py-5 bg-dark text-white"> 
      <h2></h2>
      <div class="lead">
        <h3>An Interdisciplinary Engineer</h3>
        <p>Interested in building real world products</p>
      </div>
    </div>
  </slide>
  
</carousel>
