
<div class="center">
    <h1>PROJECTS</h1>
  </div>
<br>

<div class="card">

<div class="card" style="width: 35rem;">
    <img class="card-img-top" src="assets/Images/pro1.png" width="75%" height="50%" alt="Card image cap">
  
    <div class="card-body ">
      <h5 class="card-title">MOVIE SEARCH APP</h5>
      <p class="card-text">Built a React app where you can search any movies and find more information about the movie.</p>
      <a href="https://searchmovie-7e0ea.web.app/" class="btn btn-primary">Project Link</a>
    </div>
  </div>

  <div class="card" style="width: 35rem;">
    <img class="card-img-top" src="assets/Images/pro2.jpg" width="75%" height="50%" alt="Card image cap">
  
  
    <div class="card-body ">
      <h5 class="card-title">PHOTOGRAPHY BLOG</h5>
      <p class="card-text">A simple photography blog created using HTML,CSS and Javascript.</p>
      <a href="https://poojaprabhu450.github.io/Photography-blog/pb.html" class="btn btn-primary">Project Link</a>
    </div>
  </div>

  <div class="card" style="width: 35rem;">
    <img class="card-img-top" src="assets/Images/pro3.jpg" width="75%" height="50%" alt="Card image cap">
  
  
    <div class="card-body">
      <h5 class="card-title">EXOPLANET DISCOVERY USING DEEP LEARNING</h5>
      <p class="card-text">Implemented 2 - layer Neural Network Model from scratch to detect exoplanets in Universe using the data obtained from Kepler Mission.</p>
      <a href="https://github.com/POOJAPRABHU450/Exoplanets-Discovery-using-Deep-Learing" class="btn btn-primary">Project Link</a>
    </div>
  </div>
  </div>
 