

<mat-toolbar color="primary" >
    <span><mat-icon>eco</mat-icon>MyPortfolio</span>
    

    <div class="spacer"></div>
    
    <button><a routerLink="home" routerLinkActive="active"><mat-icon>home</mat-icon>HOME</a></button>
    
    <button><a routerLink="projects" routerLinkActive="active"><mat-icon>constructions</mat-icon>PROJECTS</a></button>
    <button><a routerLink="contact" routerLinkActive="active"><mat-icon>person</mat-icon>CONTACT</a></button>

    <!--<a mat-button routerLink="home" color="white"><mat-icon>home</mat-icon>HOME</a>
    <a mat-button routerLink="about"><mat-icon>face</mat-icon>ABOUT ME</a>
    <a mat-button routerLink="projects"><mat-icon>constructions</mat-icon>PROJECTS</a>
    <a mat-button routerLink="contact"><mat-icon>person</mat-icon>CONTACT ME</a>
    -->
</mat-toolbar>

